* {
    font-family: "Open Sans", serif;
    margin: 0px;
    padding: 0px;
}

/* Header */
header {
    background-color: #FFF8F3;
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    padding-top: 50px;
}

.dark-01 {
    color: #181818;
}

.dark-02 {
    color: #474747;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px 0px 226px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #474747;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.btn-primary {
    padding: 18px 36px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}

.btn-secondary {
    padding: 18px 36px;
    color: #FD6E0A;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

/* Banner */
